cordova/*/*
outputs/**/*
node_modules/
www/_html/www/
www/bower_components/
www/node_modules/
www/site/config/
www/site/skin/site.css
www/target/
.idea/
**/*.iml
www/site/js/libs/oauth-session.js
.DS_Store
**/*/.DS_Store
www/bower_components
**/*.lock
package-lock.json
selenium-java/target
selenium-java/~
.grunt
_SpecRunner.html
www/_html/styles/colors.css